<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error</h1>
        <h2>Hubo un error al procesar su solicitud.</h2>
        <h3>@ViewBag.Error</h3>
    </hgroup>
    <div>
        @Html.ActionLink("Volver al menu principal", "Index", "Home")
    </div>

</body>
</html>
